.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid lightgray;
}

.login__logo {
  width: 100px;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 20px;
}
